<?xml version="1.0"?>
<configuration>
    <!--<system.web>
        <authorization>
            <allow users="ProjectManager"/>
            <allow users="ResponsibleEngineer"/>
            <deny users="?"/>
            <deny users="Employee"/>
            <deny users="EmployeeManager"/>
            <deny users="HRStaff"/>
            <deny users="TimesheetApprover"/>
        </authorization>
    </system.web>-->
</configuration>
