html
{
    height: 100%;
    min-height: 100%;
}

body
{
    background-color: Black;
    font-family: "Segoe UI", "Arial", Sans-Serif;
    /* fallback (Opera) */
    background: #CCFFFF;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #0099FF, #CCFFFF) fixed;
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#0099FF), to(#CCFFFF)) fixed;
    /* IE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#0099FF', EndColorStr='#CCFFFF', GradientType=0);
    padding-bottom: 20px;
    margin: 0;
}

.login
{
    float: right;
    font-size: 12px;
    margin-top: 10px;
}

.footer
{
    background-color: White;
    margin-left:auto;
    margin-right:auto;
    width: 1000px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.line
{
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid Black;
    width: 990px;
}

.status
{
    height: 29px;
    line-height: 29px;
    float: right;
    width: 215px;
}

.gradientV{
    /* fallback (Opera) */
    background: #0099FF;
    /* Mozilla: */
    background: -moz-linear-gradient(top, #0099FF, #CCFFFF);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#0099FF), to(#CCFFFF));
    /* IE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#0099FF', EndColorStr='#CCFFFF', GradientType=0);
}

.cent
{
    margin-left:auto;
    margin-right:auto;
}
    
.clear
{
    clear: left;
}

textarea
{
    resize:none;
}

/* Menu Styling */

.divmastermenu a:link, .divmastermenu a:visited, .divmastermenu a:active
{
    width: 130px;
    font-size: 13px;
    text-align: center;
    display: block;
    background-color: #A2D9E8;
    color: #333333;
    font-weight: bolder;
    text-decoration: none;
}

.divmastermenu a:hover
{
    color: #333333;
    background-color: #5ECAE8;
    text-decoration: none;
}

a:link, a:visited, a:active
{
    color: #009BFF;
    font-weight: bolder;
    text-decoration: none;
}

a:hover
{
    color: #73C8FF;
    text-decoration: none;
}

/* Master Page Styles */

.divcentertop
{
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    height: 80px;
    background-color: White;
}

.divmastermenubar
{
    background-color: #A2D9E8;
    height: 30px;
    line-height:30px;
    margin-left: 5px;
    margin-right: 5px;
}

.divmastermenu
{
    width: 100%;
    margin-left:auto;
    margin-right:auto;
}

.page 
{
    width: 1000px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: White;
}

.DivUserManagementMenu
{
    text-align: center;
}

.DivNewUser
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.content
{
    padding: 20px
}

.header
{
    height: 40px;
    margin: 10px;
}

/* Reports.aspx */

.divline
{
    margin-top:10px;
    border-top:2px solid Grey;
}

/* Project.aspx */

#lblSuccessMsg
{
    color:Blue;
    text-align:center;
}

/* UserManagement.aspx */

.lblcreatenewemp
{
    padding:5px;
}

/* Default.aspx */

.ajaxkeygen
{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:5;
    opacity:0.5;
    background-color:Black;
}

.keygenwindow
{
    position:absolute;
    top:100px;
    width:500px;
    margin-left: -250px;
    left: 50%;
    z-index:6;
    background-color:White;
    border:3px Solid Black;
    padding:15px;
}

.ajaxblurb
{
    text-align:center;
}

/* EarnedValueReport.aspx */

.evrPretty
{
    background-color:#A2D9E8;
}

/* TimesheetEntry.aspx */        
        
.tableTE1
{
    width: 161px;
}
        
.newRecord input
{
    width: 100px;
}

.ddlProjectId
{
    width:120px;
}