<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <!--<add name="FFLib.Properties.Settings.FlyingFishConnectionString"
            connectionString="Data Source=142.232.17.225;Initial Catalog=FlyingFish;Persist Security Info=True;User ID=comp4911;Password=comp4911"
            providerName="System.Data.SqlClient" />
        <add name="FFLib.Properties.Settings.ASPNETDBConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\work\FlyingFish\FFWeb\App_Data\ASPNETDB.MDF;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="FFLib.Properties.Settings.ffconn" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\FlyingFish.MDF;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="FFLib.Properties.Settings.FlyingFishConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\work\FlyingFish\FFWeb\App_Data\FlyingFish.MDF;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="FFLib.Properties.Settings.FlyingFishConnectionString2"
            connectionString="Data Source=142.232.17.225;Initial Catalog=FlyingFish;Persist Security Info=True;User ID=comp4911;Password=comp4911"
            providerName="System.Data.SqlClient" />-->
        <add name="FFLib.Properties.Settings.FlyingFishConnectionString3"
            connectionString="Data Source=142.232.17.225;Initial Catalog=FlyingFish_new22-26;User ID=comp4911;Password=comp4911"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>